<!DOCTYPE html>
<html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link data-require="bootstrap-css@3.3.6" data-semver="3.3.6" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>

  <body ng-app="madlib">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 border">
          <div class="row border">
            <div class="col-md-3 masthead text-center border-right">
              <img class="smileyFace" ng-src="img/mad-lib-happy-face.png" alt="mad-lib-happy-face"/>
            </div>
            <div class="col-md-9 text-center masthead">
              <img class="logo" ng-src="img/ng-mad-libs-logo.png" alt="ng-mad-libs-logo"/>
              <h1>Automate This!</h1>
            </div>
          </div>

          <div ng-controller="MadlibController">
            <div ng-show="showWordOptions" ng-hide="!showWordOptions" class="row pad25 border content">
              <h2>Provide the following words:</h2>
              <form name="wordInputs" ng-submit="generate()">
                <div class="col-md-12"> 
                  <div class="col-md-4 pad0">                
                    <select name="singleSelect" class="form-control" ng-model="genderType" required
                    ng-change="change(genderType.type)"
                    ng-options="gender.type for gender in genders">
                      <option value="">Choose Gender</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-4">
                  <input type="text" class="form-control" placeholder="Name" ng-model="word.name" required>
                  <input type="text" class="form-control" placeholder="Job Title" ng-model="word.job" required>
                  <input type="text" class="form-control" placeholder="Tedious Task" ng-model="word.tediousTask" required>
                </div>
                <div class="col-md-4">
                  <input type="text" class="form-control" placeholder="Dirty Task" ng-model="word.dirtyTask" required>
                  <input type="text" class="form-control" placeholder="Celebrity" ng-model="word.celebrity" required>
                  <input type="text" class="form-control" placeholder="Useless Skill" ng-model="word.skill" required>
                </div>
                <div class="col-md-4">
                  <input type="text" class="form-control" placeholder="Adjective" ng-model="word.adjective" required>
                  <input type="text" class="form-control" placeholder="Obnoxious Celebrity" ng-model="word.obnoxiousCelebrity" required>
                  <input type="number" class="form-control" placeholder="Huge Number" ng-model="word.hugeNumber" step="10" required>
                </div>
                <div class="col-md-12"> 
                <!-- <hr> -->
                  <div class="col-md-4 col-md-offset-8 padr0">                
                    <button type="submit" class="btn btn-default pull-right">Generate My Mad Lib</button>
                  </div>
                </div>
              </div>
            </form>
              <div ng-show="showStory" ng-hide="!showStory" class="row pad25 border content">
                <p>
                  {{word.name}} was a {{word.job}} who loved technology. Although <!-- {{genderType.type==='male' ?'he':'she'}} -->{{gender2}} loved parts of {{gender1}} job, {{gender2}} absolutely hated  {{word.tediousTask}} and {{word.dirtyTask}}. So, {{word.name}} met with {{gender1}} life mentor {{word.celebrity}} who told {{gender3}} to learn how to {{word.skill}} with Thinkful. Thinkful didn't offer a course on {{word.skill}} so {{gender2}} studied programming instead. 
                </p>
                <p>
                  What a great decision! With {{gender1}} new skills, {{word.name}} built a(n) {{word.adjective}} robot named {{word.obnoxiousCelebrity}} that not only loved {{word.dirtyTask}} but did it {{word.hugeNumber}} faster. 
                </p>
                <div class="col-md-12"> 
                <div class="col-md-4 col-md-offset-8 padr0">
                  <form name="restart">              
                    <button type="submit" ng-click="reset()" class="btn btn-default pull-right ">Start Over</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js">
   </script>
   <script type="text/javascript" src="https://code.angularjs.org/1.5.0/angular-animate.min.js"></script>
    <script src="js/madlib.controller.js"></script>
  </body>
</html>
